// colours
$c_wildsand: 			#f5f5f5;
$c_gallery: 			#EEEEEE;
$c_alto: 					#E0E0E0;
$c_silver: 				#BDBDBD;
$c_silverchalice: #9E9E9E;
$c_boulder: 			#757575;
$c_dovegray: 			#616161;
$c_tundora: 			#424242;
$c_mineshaft: 		#212121;
$c_springgreen:		#00E676;
$c_lynch:					#607D8B;

// fonts
$f_source: 'Cutive Mono', 'Courier New', 'Helvetica Neue', Helvetica, FangSong, STFangSong, sans-serif;
