.h-header {
  align-items: center;
  background-color: $c-mineshaft;
  border-bottom: 1px solid $c-tundora;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  position: fixed;
  top: 0;
  width: 100%;

  .h-brand-icon {
    font-size: .6em;
	}

  a {
    color: $c-alto;
    text-decoration:  none;

    &:hover {
      color: $c-mossgreen;
      text-decoration: underline;
		}

    h1 {
      font-size: 1.5em;
      font-weight: 200;
		}
	}
}
