main {
  align-items: flex-start;
  background-color: $c-mineshaft;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 900px;
}
